.mypic img {
  margin-left: auto;
  margin-top: auto;
  width: 320px;
  height: 200px;
  border-radius: 25px;
}

.heading {
  background-color: rgba(80, 80, 80, .1);
  /*border: solid 2px black;*/
  border-radius: 25px;
}

.myinfo {
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

.main {
  margin-top: 25px;
}

.bottom {
  margin-top: 25px;
}

.footer {
  text-align: center;
  background-color: rgba(80, 80, 80, .1);
}
