body {
  background-image: url("../img/bg.jpg");
}

.mypic img {
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
}

iframe {
  width: 100%;
}

.heading {
  background-color: rgba(80, 80, 80, .2);
  border-bottom: double;
}

.myinfo {
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  color: white;
}

.white {
  color: white;
  text-align: center;
}

.myinfo li {
  list-style: none;
  margin-right: 25px;;
}

.main {
  margin-top: 45px;
}

#shelter li {
  display: inline;
}

.bottom {
  margin-top: 45px;
}

.float-me {
  float: right;
}

.float-me img {
  margin-top: -25px;
  width: 35%;
}

.footer {
  background-color: rgba(80, 80, 80, .2);
  clear: both;
}
